* {
  margin: 0;
  border: none;
}

.page-container {
  display: flex;
}

.grid-container {
  height: 800px;
  width: 800px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

div[class^="grid-line"] {
  display: flex;
  justify-content: space-evenly;
  flex: auto;
}

div[class^="square-div"] {
  border-style: none;
  flex: auto;
  min-width: 10px;
  min-height: 10px;
}